body {
  font-family: "Arial";
}

h1 {
  color: #d1bda0;
  padding: 70px;
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 0em;
}

h3 {
  color: #d1bda0;
  font-size: 26px;
}

b {
  color: #c5c4c5;
}

.table1 {
  width: 100%;
  padding: 30px 100px 0px 100px;
}

.table1 th {
  color: #9a9a9a;
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 10px;
}

.table1 td {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 30px;
}

.table2 {
  width: 80%;
  color: #c5c4c5;
  margin: auto;
  border-collapse: collapse;
}

.table2 th {
  padding: 15px;
  border-top: 4px solid #d2bda0;
  border-bottom: 4px solid #d2bda0;
}

.table2 td {
  color: #555;
  padding: 15px;
  border-bottom: 1px solid #d2bda0;
}

.table3 {
  color: #333;
  margin-right: 35px;
  margin-left: auto;
  padding: 15px 45px 15px 0px;
  width: 30%;
}

.table4 {
  float: right;
  width: 70%;
  padding: 10px;
  text-align: right;
  position: relative;
}

.table4 tr,
td {
  padding-bottom: 10px;
}

.error {
  background: #ff0000;
}

.error:focus {
  background: none;
}

input[type="text"],
input[type="date"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  margin: 3px;
  width: 95%;
  height: 30px;
  transition: 1s;
}

input[type="text"]:focus {
  outline: none;
  transition: 1s;
  border-bottom: 1px solid #d2bda0;
}

input[type="text"]::placeholder {
  color: #999;
  transition: 1s;
}

input[type="date"] {
  font-family: "Arial";
  transition: 1s;
  text-transform: uppercase;
}

input[type="date"]:focus {
  outline: none;
  transition: 1s;
  border-bottom: 1px solid #d2bda0;
}

input[type="date"]::placeholder {
  color: #999;
  transition: 1s;
}

input[type="number"] {
  text-align: center;
  margin: 0px;
  font-size: 16px;
  color: #333;
  transition: 1s;
  outline: none;
  border: none;
}

input[type="number"]::placeholder {
  color: #999;
  transition: 1s;
}

input:invalid(::no-placeholder){
  background: red;
}

button {
  color: #fff;
  background: #d2bda0;
  outline: none;
  border: none;
  font-size: 30px;
  width: 100%;
  padding: 30px;
}

button:hover {
  background-color: #c1c1c1;
}

button #add {
  margin-left: 100px;
}

#container {
  width: 70%;
  margin: auto;
  border: 10px solid #d2bda0;
}

#total {
  width: 20%;
  padding: 10px 0px 0px 0px;
  text-align: right;
  margin-right: 90px;
  margin-left: auto;
  border: 4px solid #d2bda0;
}

#footer {
  position: relative;
  bottom: 0px;
  padding: 10px;
  margin: 80px;
  border-top: 2px solid #d2bda0;
}

#rate {
  font-size: 40px;
  font-weight: 900;
  line-height: 0em;
  padding: 10px;
  color: #333;
  width: 115px;
}

#label {
  font-size: 16px;
  font-weight: 100;
  font-family: "Arial";
  border: none;
  padding: 0px 10px 0px 10px;
  transition: 1s;
}

#label::placeholder {
  color: #999;
  transition: 1s;
}

#label:focus,
#label:hover {
  color: #333;
  background: #ddd;
  transition: 1s;
}
